$primary: #2B2E4A;
$primary-dark: #1A1C2F;
$primary-light: #3C4169;
$secondary: #F2F2F2;
$secondary-dark: #DDDDDD;
$secondary-light: #FFFFFF;

body {
    margin: 0;
    background-color: $primary;
    font-family: 'poppins';
}
a {
    text-decoration: none;
    cursor: pointer;
}

.nav {
    background: $primary;
    position: fixed;
    z-index: 999;
    width: 100%;
    right: 0;
    height: 100vh;
    top: 0;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: $secondary-light;
}

.navbar {
    padding: 1em;
    align-self: center;
    position: relative;
    .hamburger {
        position: absolute;
        right: 0;
        top: 0.75em;
        cursor: pointer;
        width: 2.4em;
        height: 2.4em;
    }
}
.exit {
    position: absolute;
    right: 2em;
    margin-top: 2em;
    cursor: pointer;
    width: 3.4em;
    height: 3.4em;
}
.menus {
    display: none;
}
div.menu-btn {
    display: block;
}
ul.mobile-nav {
    margin: 6em 2em 0 0;
    li {
        a {
            color: white;
            text-decoration: none;
            padding: 6%;
            font-size: 2.4em;
            text-align: right;
            cursor: pointer;
            display: block;

            &:hover {
                font-weight: bold;
                font-size: 3.4em;
            }
        }
    }
}

.hero-container {
    margin-top: 6em;
    .left-col {
        color: $secondary-light;

        .hero-heading {
            font-weight: bolder;
            span {
                display: block;
            }
        }
        .hero-subheading {
            font-weight: 400;
            color: $secondary;
            margin: 0.5em 0;
        }
    }
    .right-col {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 3em;
        img {
            display: inline-block;
            width: 50%;
        }
        p {
            font-family: 'roboto';
            font-size: 3.5vw;

            color: $secondary-dark;
            display: inline-block;
            width: 50%;
        }
    }
}

.heading {
    font-weight: bolder;
    color: $secondary-light;
    text-align: center;
    margin-bottom: 1em;
}

section.articles {
    margin-top: 3em;
    background-color: $primary-dark;
    padding-top: 3em;
    padding-bottom: 2em;
    h2 {
        font-size: 3em;
    }
    .articles-div {
        .article {
            margin: 4em 1em;
            background-color: $primary-light;
            position: relative;
            border-radius: 1em;
            padding: 1em;
            .article-img {
                width: 100%;
            }
            h4 {
                font-size: 1.5em;
                color: $secondary-light;
                margin: 0.5em 0 0;
            }
            .tag {
                display: inline-block;
                width: 3.4em;
                height: 3.4em;
                background-color: $primary-light;
                border-radius: 50%;
                color: $secondary-light;
                font-weight: bold;
                padding: 0.85em;
                position: absolute;
                right: -1.8em;
                top: -1.8em;

                img {
                    width: 2.4em;
                    height: 2.4em;
                    position: relative;
                    right: 0.35em;
                    bottom: 0.35em;
                }

            };
        }

        .right-col {
            display: none;
        }
    }
}

section.newsletter {
    padding-top: 3em;
    background-color: $secondary-dark;
    margin-bottom: 0;
    h2 {
        color: $primary;
    }
    p {
        font-size: 1.2em;
        color: $primary-light;
        text-align: center;
    }
    input {
        color: $primary;
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $primary-dark;
            opacity: 0.5; /* Firefox */
        }
    }
    .submit-button {
        display: inline-block;
        width: 100%;
        border: none;
        outline: none;
        padding: 0.8em 0;
        background-color: $primary-light;
        color: $secondary-dark;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 6em;
    }

    .footer {
        margin-top: 6em;
        background-color: $primary;
        padding: 0.2em;
        h4 {
            font-size: 1.6em;
            text-align: center;
            color: $secondary-light;
        }

        ul {

            display: flex;
            justify-content: center;
            padding: 0;
            margin-bottom: 0.8em;
            // justify-content: unset;
            img {
                width: 2.5em;
            }
            .youtube-logo {
                position: relative;
                top: 0.4em;
            }
        }

    }
}

@media only screen and(min-width: 768px) {
    .exit,
    .hamburger {
        display: none;
    }

    .navbar {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;

        .menus {
            display: grid;
            grid-template-columns: 180px auto;
            justify-content: unset;
            position: relative;
            width: 100%;
            height: auto;
        }
        ul.mobile-nav {
            float: right;
            display: flex;
            margin: 0;
            align-items: center;

            li {
                a {
                    color: $secondary-light;
                    font-size: 1.2em;
                    padding: 0.1em;
                    margin: 0 1em;
                    display: inline-block;
                    text-align: center;
                    white-space: nowrap;
                    &:hover {
                        font-size: 1.4em;
                        font-weight: bold;
                    }
                }
            }
        }

    }

    .hero-container {
        position: relative;
        h4 {
            span {
                display: block;
            }
        }
        .right-col {
            margin: 0;
            display: inline-block;
            position: static;
            p {
                margin: 0;
                padding: 0;
                font-size: 1.2em;

            }
            img {
                display: inline-block;
                position: absolute;
                right: 15%;
                top: -2em;
                height: 120%;
                width: auto;
            }
        }
    }
    section.articles {
        h2 {
            margin-bottom: 0;
        }
        .articles-div {
            display: flex;
            .left-col {
                display: inline-block;
                margin-right: 1em;
            }
            .right-col {
                display: inline-block;
                margin-left: 1em;
            }
        }
    }

    section.newsletter {
        .container {
            display: flex;
            align-items: center;
            p {
                text-align: left;
                display: inline-block;
                width: 50%;
                margin: 0 3em;
            }
            form {
                margin: 0 3em;
            }
        }
    }

}
/*
h2 {
        color: $primary;
    }
    p {
        font-size: 1.2em;
        color: $primary-light;
        text-align: center;
    }
    input {
        color: $primary;
        &::placeholder {
            
            color: $primary-dark;
            opacity: 0.5;
        }
    }
    .submit-button {
        display: inline-block;
        width: 100%;
        border: none;
        outline: none;
        padding: 0.8em 0;
        background-color: $primary-light;
        color: $secondary-dark;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 6em;
    }
*/
