{% extends "main/header.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/courses/courses.css' %}">
</head>

    <!-- Need to include nav bar and footer-->
    <section class="courses container">
        <img src="{% static 'images/courses/courses.png' %}" alt="">
        <h4>MY COURSES</h4>
        <p> Here are some of the programming courses I prepared for you. The list is tiny now, but it will grow with time </p>
    </section>

    <section class="info">
        <div class="courses-div container">
        <div class="left-col">
            {% for course in left %}
            {% include "main/includes/course.html" with link=course.course_link image=course.image.url title=course.title cost=course.cost%}
            {% endfor %}
        </div>
        <div class="right-col">
            {% for course in right %}
            {% include "main/includes/course.html" with link=course.course_link image=course.image.url title=course.title cost=course.cost%}
            {% endfor %}
        </div>
    </div>
            <h6 class="coming-soon">More Coming Soon</h6>
    </section>

{% endblock %}