{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" />

    
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
</head>

<body>
    
    <div class="navbar">
        <center>
        <div class="cont container">
            
        <a href="/home" class="logo"> Shubh Patni</a>
        
        <div class="menus nav z-depth-0" id="menu"> 
            <img class='exit'src="{% static 'images/cross.svg' %}" id="exit" alt="">
                <ul class="mobile-nav">
                    <li><a href="/about"> About</a></li>
                    <li><a href="/articles"> Articles</a></li>
                    <li><a href="/courses"> Courses</a></li>
                    <li><a href="/resources"> Resources</a></li>
                    <li><a href="/projects"> Projects</a></li>
                </ul>
        </div>
            <img class='hamburger'src="{% static 'images/menu.svg' %}"  id="hamburger" alt="">
        
        </div>
    </center>
        </div>

        <!-- NEED TO MAKE THE TOGGLE-->

        {% block content %}
        {% endblock %}

    <section class="newsletter">
        <h2 class="heading">My Newsletter</h2>
        <div class="container">
            <!--
            <p> 
                I'm 18 and still trying to figure out what I want to do 🤓 
                My interests revolve around crypto ฿, remote work 🌏, web dev 🧑‍💻, and random things ☕️📹🎮📚. I will share with you everything I know about these things and how to make money while learning them. <i><strong>The goal is to figure it out.</strong></i>
            </p>
            -->
            <p> I am not issuing any newsletters yet, but I plan to do it soon. If you are familiar with my content and 
                would like to be the first few to know when I release my newsletter, you can enter your mail 😁
            </p>
            <form action="https://www.getrevue.co/profile/patnishubh/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank" class="form">
                <input class="revue-form-field input-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
                <div class="revue-form-actions">
                    <input class="button"type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
                  </div>
                  <br>
                  <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
        </form>

        </div>

    </section>

    <section class="support">
        <center>
    <div class="container">
        <h2 class="heading">Would Like to Support Me?</h2>
        <p> If my content have helped you in any way and you wish to support me so I can create more content, you can just pay for any of my <span> <a href="/resources"> Resources </a> </span>. This would help me + help you out, a win-win 🙌</p>
    </div>
</center>
</section>
<div class="footer">
    <h4>@patnishubh</h4>
    
    <ul class="row center">
        <li class="col"><a href="https://www.youtube.com/channel/UCDXQNb3linY9EksWAvJhPyQ"><img src="{% static 'images/youtube.svg' %}" alt="" class="youtube-logo"></a></li>
        <li class="col"><a href="https://www.instagram.com/patnishubh/"><img src="{% static 'images/insta.svg' %}" alt=""></a></li>
        <li class="col"><a href="https://twitter.com/PatniShubh"><img src="{% static 'images/twitter.svg' %}" alt=""></a></li>
        <li class="col"><a href="https://medium.com/@shubhpatni"><img src="{% static 'images/medium.svg' %}" alt=""></a></li>
        <li class="col"><a href="https://github.com/patni11"><img src="{% static 'images/github.svg' %}" alt=""></a></li>
    </ul>

</div>
    <script>
        const menu = document.getElementById('hamburger')
            nav = document.getElementById('menu')
            menuExit = document.getElementById('exit');
        
        menu.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        menuExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })
    </script>

</body>
</html>