$primary: #2B2E4A;
$primary-dark: #1A1C2F;
$primary-light: #3C4169;
$secondary: #F2F2F2;
$secondary-dark: #DDDDDD;
$secondary-light: #FFFFFF;


body {
    margin: 0;
    background-color: $primary;
    font-family: 'poppins';
}
a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: disc;
}

h4 {
    font-weight: bold;
    font-family: 'poppins';
    color: $secondary-light;
}

section.resources {
    background-color: $primary;
    padding: 3em 0 !important;
    text-align: center;
    margin: 6em auto 3em !important;
    img {
        display: block;
        width: 50%;
        max-width: 400px;
        height: auto;
        margin: auto;
    }
    h4 {
        margin: 1.5em 0 0.8em;
    }
    p {
        font-size: 1.2em;
        color: $secondary-light;
        font-family: 'poppins';
        &::after {
            content: ' ';
            width: 80%;
            height: 0.3em;
            background-color: $primary-light;
            display: block;
            margin: 1.2em auto auto;
            border-radius: 5em;
        }
    }
}


section.info {
    background-color: $primary-dark;
    padding: 3em 0;
    margin: 0;

    h4 {
        margin-top: 1.4em;
    }
    .resource {
        margin: 2em;
        display: inline-block;
        width: 80%;
        height: auto;
        padding: 0.6em 0.6em 0;
        background-color: rgba($secondary-dark, 0.2);
        border-radius: 0.3em;
        max-width: 600px;
        aspect-ratio: 16 / 9;
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 9;
        }
        h4 {
            color: $secondary-light;
            font-size: 1.1em;
            text-align: left;
            margin: 0.6em 0;
        }
    }
    h6.coming-soon {
        text-align: center;
        margin-top: 3em;
        color: $secondary;
        font-weight: bold;
        margin-bottom: -1.2em;
    }
}

@media only screen and(min-width: 768px) {

    section.info {
        .container {
            display: flex;
            .left-col,
            .right-col {
                display: inline-block;
                margin-right: 1em;
            }

        }
    }
}
