$primary: #2B2E4A;
$primary-dark: #1A1C2F;
$primary-light: #3C4169;
$secondary: #F2F2F2;
$secondary-dark: #DDDDDD;
$secondary-light: #FFFFFF;


$tech: #3D84B8;
$crypto: #FF8303;
$programming: #01937C;
$productivity: #a8026f;

body {
    margin: 0;
    background-color: $primary;
    font-family: 'poppins';
}
a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: disc;
}

h4 {
    font-weight: bold;
    font-family: 'poppins';
    color: $secondary-light;
}

section.articles {
    background-color: $primary;
    padding: 3em 0 !important;
    text-align: center;
    margin: 6em auto 3em !important;
    img {
        display: block;
        width: 50%;
        max-width: 400px;
        height: auto;
        margin: auto;
    }
    h4 {
        margin: 1.5em 0 0.8em;
    }
    p {
        font-size: 1.2em;
        color: $secondary-light;
        font-family: 'poppins';
        &::after {
            content: ' ';
            width: 80%;
            height: 0.3em;
            background-color: $primary-light;
            display: block;
            margin: 1.2em auto auto;
            border-radius: 5em;
        }
    }
}


section.info {
    background-color: $primary-dark;
    padding: 3em 0;

    h4 {
        margin-top: 1.4em;
        text-align: center;
    }
    ul {
        text-align: center;
        li {
            display: inline-block;
            margin: 1em;
            a {
                color: $secondary;
                opacity: 60%;
                font-size: 1.4em;
                font-weight: bold;
                &:hover {
                    font-size: 1.6em;
                    font-weight: bolder;
                }
            }
        }

        &::after {
            content: ' ';
            width: 80%;
            height: 0.3em;
            background-color: $primary-light;
            display: block;
            margin: 1.2em auto auto;
            border-radius: 5em;
        }
    }

    .articles-div {
        justify-content: space-around;
        display: flex;
        .left-col,
        .right-col,
        .mid-col {
            flex: 1 1 0
        }
        .article {
            margin: 2em;
            display: inline-block;
            width: 80%;
            height: auto;
            padding: 0.6em 0.6em 0;
            background-color: rgba($secondary-dark, 0.2);
            border-radius: 0.3em;
            max-width: 600px;
            aspect-ratio: 16 / 9;
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 16 / 9;
            }
            h4 {
                color: $secondary-light;
                font-size: 1.1em;
                text-align: left;
                margin: 0.3em;
            }
            ul {
                display: flex;
                margin: 0.6em 0;
                li {
                    padding: 0.2em 1em;
                    margin: 0 0.5em;
                    border-radius: 0.5em;
                    color: $secondary-light;
                    font-size: 0.8em;
                    font-weight: bold;
                }
                &::after {
                    display: none;
                }
            }
            p {
                color: $secondary-dark;
                font-size: 0.8em;
                text-align: left;
                margin-left: 0.4em;
            }
            &:hover {
                width: 82%;
                box-shadow: 2em 2em 60% #000000;
            }

        }

    }

}

.Tech {
    background-color: $tech;
}
.Crypto {
    background-color: $crypto;
}
.Programming {
    background-color: $programming;
}
.Productivity {
    background-color: $productivity;
}

@media only screen and(min-width: 768px) {
    section.info {
        h2 {
            margin-bottom: 0;
        }
        .articles-div {
            display: flex;
            .left-col {
                display: inline-block;
                margin-right: 1em;
            }
            .right-col {
                display: inline-block;
                margin-left: 1em;
            }
            .article {
                width: 100%;
                &:hover {
                    width: 102%;
                    box-shadow: 2em 2em 60% #000000;
                }
            }
        }
    }
}
