$primary: #2B2E4A;
$primary-dark: #1A1C2F;
$primary-light: #3C4169;
$secondary: #F2F2F2;
$secondary-dark: #DDDDDD;
$secondary-light: #FFFFFF;


$tech: #3D84B8;
$crypto: #FF8303;
$programming: #01937C;
$productivity: #a8026f;

.article {

    margin: 2em;
    display: block;
    width: 80%;
    height: auto;
    padding: 0.6em;
    background-color: rgba($secondary-dark, 0.2);
    border-radius: 0.3em;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    .article-img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }
    .article-title {
        color: $secondary-light;
        font-size: 1.1em;
        text-align: left !important;
        margin: 0.3em 0;
        font-weight: bold;
    }
    .tags {
        display: flex;
        justify-content: space-between;
        margin: 0.6em 0 !important;
        li {
            padding: 0.2em 1em;
            margin: 0;
            border-radius: 0.5em;
            color: $secondary-light;
            font-size: 0.8em;
            font-weight: bold;
        }
        &::after {
            display: none !important;
        }
    }
    .date {
        color: $secondary-dark;
        font-size: 0.9em;
        text-align: left;
        margin: 0;
    }
    &:hover {
        width: 82%;
        box-shadow: 2em 2em 60% #000000;
    }

}


.Tech {
    background-color: $tech;
}
.Crypto {
    background-color: $crypto;
}
.Programming {
    background-color: $programming;
}
.Productivity {
    background-color: $productivity;
}

@media only screen and(min-width: 768px) {

    .article {
        width: 100%;
        display: inline-block;
        &:hover {
            width: 102%;
            box-shadow: 2em 2em 60% #000000;
        }
    }
}
