$primary: #2B2E4A;
$primary-dark: #1A1C2F;
$primary-light: #3C4169;
$secondary: #F2F2F2;
$secondary-dark: #DDDDDD;
$secondary-light: #FFFFFF;

$tech: #3D84B8;
$crypto: #FF8303;
$programming: #01937C;
$productivity: #a8026f;

body {
    margin: 0;
    background-color: $primary;
    font-family: 'poppins';
}
a {
    text-decoration: none;
    cursor: pointer;
}

.nav {
    background: $primary;
    position: fixed;
    z-index: 999;
    width: 100%;
    right: 0;
    height: 100vh;
    top: 0;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: $secondary-light;
}

.navbar {
    // padding: 1em;
    align-self: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background: $primary;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    .hamburger {
        // position: absolute;
        // right: 0;
        // top: 0.75em;
        cursor: pointer;
        width: 2.4em;
        height: 2.4em;
    }
    .cont {
        display: flex;
        justify-content: space-between;
        padding: 1em 2em;
    }
}
.exit {
    position: absolute;
    right: 2em;
    margin-top: 2em;
    cursor: pointer;
    width: 3.4em;
    height: 3.4em;
}
.menus {
    display: none;
}
div.menu-btn {
    display: block;
}
ul.mobile-nav {
    margin: 6em 2em 0 0;
    justify-content: flex-s;
    li {
        a {
            color: white;
            text-decoration: none;
            padding: 6%;
            font-size: 2.4em;
            text-align: right;
            cursor: pointer;
            display: block;

            &:hover {
                font-weight: bold;
                font-size: 3.4em;
            }
        }
    }
}

.hero-container {
    margin-top: 6em;
    .left-col {
        color: $secondary-light;

        .hero-heading {
            font-weight: bolder;
            span {
                display: block;
            }
        }
        .hero-subheading {
            font-weight: 400;
            color: $secondary;
            margin: 0.5em 0;
        }
    }
    .right-col {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 3em;
        img {
            display: inline-block;
            width: 50%;
        }
        p {
            font-family: 'roboto';
            font-size: 3.5vw;

            color: $secondary-dark;
            display: inline-block;
            width: 50%;
        }
    }
}

.heading {
    font-weight: bolder;
    color: $secondary-light;
    text-align: center;
    margin-bottom: 1em;
}

section.articles {
    margin-top: 3em;
    background-color: $primary-dark;
    padding-top: 3em;
    padding-bottom: 2em;
    h2 {
        font-size: 3em;
    }
    .articles-div {
        justify-content: space-around;

        .article {
            margin: 2em;
            display: inline-block;
            width: 80%;
            height: auto;
            padding: 0.6em 0.6em 0;
            background-color: rgba($secondary-dark, 0.2);
            border-radius: 0.3em;
            max-width: 600px;

            img {
                width: 100%;
                object-fit: cover;
                max-height: 337px;

            }
            h4 {
                color: $secondary-light;
                font-size: 1.1em;
                text-align: left;
                margin: 0.3em;
            }
            ul {
                display: flex;
                margin: 0.6em 0;
                li {
                    padding: 0.2em 1em;
                    margin: 0 0.5em;
                    border-radius: 0.5em;
                    color: $secondary-light;
                    font-size: 0.8em;
                    font-weight: bold;
                }
            }
            p {
                color: $secondary-dark;
                font-size: 0.8em;
                text-align: left;
                margin-left: 0.4em;
            }
            &:hover {
                width: 82%;
                box-shadow: 2em 2em 60% #000000;
            }
        }
        .right-col {
            display: none;
        }

    }
}
.Tech {
    background-color: $tech;
}
.Crypto {
    background-color: $crypto;
}
.Programming {
    background-color: $programming;
}
.Productivity {
    background-color: $productivity;
}

section.newsletter {
    padding-top: 3em;
    background-color: $secondary-dark;
    margin-bottom: 0;
    h2 {
        color: $primary;
    }
    p {
        font-size: 1.2em;
        color: $primary-light;
        text-align: center;
    }
    input {
        color: $primary;

    }
    .submit-button {
        display: inline-block;
        width: 100%;
        border: none;
        outline: none;
        padding: 0.8em 0;
        background-color: $primary-light;
        color: $secondary-dark;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 6em;
    }

    .footer {
        margin-top: 6em;
        background-color: $primary;
        padding: 0.2em;
        h4 {
            font-size: 1.6em;
            text-align: center;
            color: $secondary-light;
        }

        ul {

            display: flex;
            justify-content: center;
            padding: 0;
            margin-bottom: 0.8em;
            // justify-content: unset;
            img {
                width: 2.5em;
            }
            .youtube-logo {
                position: relative;
                top: 0.4em;
            }
        }

    }
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary !important;
    opacity: 1; /* Firefox */
}
@media only screen and(min-width: 768px) {
    .exit,
    .hamburger {
        display: none;
    }

    .navbar {
        // display: grid;
        // grid-template-columns: 180px auto;
        // justify-content: space-between;
        .logo {
            white-space: nowrap;
        }
        .menus {
            display: flex; // grid
            // grid-template-columns: 180px auto;
            justify-content: flex-end; // unset
            position: relative;
            right: 0;
            // width: 100%;
            height: 2em;
        }
        ul.mobile-nav {
            float: right;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: flex-end;
            li {
                a {
                    color: $secondary-light;
                    font-size: 1.2em;
                    padding: 0.1em;
                    margin: 0 1em;
                    display: inline-block;
                    text-align: center;
                    white-space: nowrap;
                    &:hover {
                        font-size: 1.4em;
                        font-weight: bold;
                    }
                }
            }
        }

    }

    .hero-container {
        position: relative;
        margin: 12em 0 8em;
        h4 {
            span {
                display: block;
            }
        }
        .right-col {
            margin: 0;
            display: inline-block;
            position: static;
            p {
                margin: 0;
                padding: 0;
                font-size: 1.2em;

            }
            img {
                display: inline-block;
                position: absolute;
                right: 15%;
                top: -2em;
                height: 120%;
                width: auto;
            }
        }
    }
    section.articles {
        h2 {
            margin-bottom: 0;
        }
        .articles-div {
            display: flex;
            .left-col {
                display: inline-block;
                margin-right: 1em;
            }
            .right-col {
                display: inline-block;
                margin-left: 1em;
            }
            .article {
                width: 100%;
                &:hover {
                    width: 102%;
                    box-shadow: 2em 2em 60% #000000;
                }
            }
        }
    }

    section.newsletter {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                text-align: left;
                display: inline-block;
                width: 50%;
                margin: 0 3em;
            }
            form {
                margin: 0 3em;
            }
        }
    }

}

@media only screen and(min-width: 1300px) {
    .menus {
        ul {
            right: 0;
        }
    }
    .hero-container {
        margin-bottom: 8em;
        h1 {
            font-size: 4.5em;
        }
        .hero-subheading {
            margin: 0 0 4em;
            font-size: 2em;
            span {
                display: block;
            }
        }

        p {
            margin-top: 4em;
            font-size: 2em;
        }
    }

}


// OLD CODE
/*
        .article {
            margin: 4em 1em;
            background-color: $primary-light;
            position: relative;
            border-radius: 1em;
            padding: 1em;
            max-width: 400px;
            .article-img {
                width: 100%;
            }
            h4 {
                font-size: 1.2em;
                color: $secondary-light;
                margin: 0.5em 0 0;
            }
            .tag {
                display: inline-block;
                width: 3.4em;
                height: 3.4em;
                background-color: $primary-light;
                border-radius: 50%;
                color: $secondary-light;
                font-weight: bold;
                padding: 0.85em;
                position: absolute;
                right: -1.8em;
                top: -1.8em;

                img {
                    width: 2.4em;
                    height: 2.4em;
                    position: relative;
                    right: 0.35em;
                    bottom: 0.35em;
                }

            };
        }
*/
