$primary: #2B2E4A;
$primary-dark: #1A1C2F;
$primary-light: #3C4169;
$secondary: #F2F2F2;
$secondary-dark: #DDDDDD;
$secondary-light: #FFFFFF;


body {
    margin: 0;
    background-color: $primary;
    font-family: 'poppins';
}
a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: disc;
}

h4 {
    font-weight: bold;
    font-family: 'poppins';
    color: $secondary-light;
}

section.articles {
    background-color: $primary;
    padding: 3em 0;
    text-align: center;
    img {
        display: block;
        width: 50%;
        max-width: 400px;
        height: auto;
        margin: auto;
    }
    h4 {
        margin: 1.5em 0 0.8em;
    }
    p {
        font-size: 1.2em;
        color: $secondary-light;
        font-family: 'poppins';
        &::after {
            content: ' ';
            width: 80%;
            height: 0.3em;
            background-color: $primary-light;
            display: block;
            margin: 1.2em auto auto;
            border-radius: 5em;
        }
    }
}


section.info {
    background-color: $primary-dark;
    padding: 3em 0;

    h4 {
        margin-top: 1.4em;
        text-align: center;
    }
    ul {
        text-align: center;
        li {
            display: inline-block;
            margin: 1em;
            a {
                color: $secondary-dark;
                font-size: 1.4em;
                font-weight: bold;
                &:hover {
                    font-size: 1.6em;
                    font-weight: bolder;
                }
            }
        }

        &::after {
            content: ' ';
            width: 80%;
            height: 0.3em;
            background-color: $primary-light;
            display: block;
            margin: 1.2em auto auto;
            border-radius: 5em;
        }
    }

    .articles-div {
        justify-content: space-around;
        .article {
            margin: 4em 1em;
            background-color: $primary-light;
            position: relative;
            border-radius: 1em;
            padding: 1em;
            max-width: 400px;
            .article-img {
                width: 100%;
            }
            h4 {
                font-size: 1.2em;
                color: $secondary-light;
                margin: 0.5em 0 0;
            }
            .tag {
                display: inline-block;
                width: 3.4em;
                height: 3.4em;
                background-color: $primary-light;
                border-radius: 50%;
                color: $secondary-light;
                font-weight: bold;
                padding: 0.85em;
                position: absolute;
                right: -1.8em;
                top: -1.8em;

                img {
                    width: 2.4em;
                    height: 2.4em;
                    position: relative;
                    right: 0.35em;
                    bottom: 0.35em;
                }

            };
        }

        .right-col {
            display: none;
        }
    }
}

@media only screen and(min-width: 768px) {
    section.info {
        h2 {
            margin-bottom: 0;
        }
        .articles-div {
            display: flex;
            .left-col {
                display: inline-block;
                margin-right: 1em;
            }
            .right-col {
                display: inline-block;
                margin-left: 1em;
            }
        }
    }
}
